<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add Post</title>
        <!-- Link para o CSS-->
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    </head>
<body>
    <div class="add-post">
        <h1>Adicionar Novo Post</h1>
        <form action="/add" method="post" enctype="multipart/form-data">
            <input type="text" name="title" placeholder="Titulo" id="" required />
            <input type="text" name="category" placeholder="Categoria" id="" />
            <div id="editor-container" style="height: 200px;"></div>
            <input type="hidden" name="content" id="content" />
            <input type="file" name="image" accept="image/*" />
            <button type="submit">Adicionar...</button>
        </form>
        <a href="/">Voltar ao Inicio</a>
    </div>
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
    <!-- Initialize Quill editor -->
<script>
    const quill = new Quill('#editor-container', {
      theme: 'snow'
    });
    var form = document.querySelector('form');
    form.onsubmit = function () {
        var content = document.querySelector('input[name=content]')
        content.value = quill.root.innerHTML;
    }
  </script>
</body>
</html>