<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FullStack Blog</title>

    <!-- Link para o CSS-->
    <link rel="stylesheet" href="/css/style.css">
    <!--Box Icons-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    

</head>
<body>
    <!--Header-->
    <header>
        <div class="nav container">
            <!--Logo-->
            <a href="" class="logo">Linux <span>Crazy</span></a>
            <!--Nav Right-->
            <div class="nav-right">
                <a href="/admin" class="admin-btn"><i class='bx bx-user'></i></a>
                <a href="/add" class="write-btn"><i class='bx bx-message-square-add' ></i>Adicionar</a>
            </div>
        </div>
    </header>
    <!--Home-->
     <section class="home" id="home">
        <div class="home-content">
            <h2>Bem Vindo(a) a Linux Crazy</h2>
            <!--Search Box-->
            <div class="search-box">
                <i class='bx bx-search-alt'></i>
                <input type="search" name="" id="" placeholder="Pesquisar...">
            </div>
        </div>
     </section>
     <!--Posts-->
     <section class="posts container" id="posts">
        <!-- -->
     </section>
     <div class="footer container">
        <p>&#169; CrazyLinux</p>
        <div class="social">
            <a href="#"><i class='bx bxl-instagram-alt'></i></a>
            <a href="#"><i class='bx bxl-github'></i></a>
            <a href="#"><i class='bx bxl-facebook-circle'></i></a>
        </div>
     </div>
     <script src="/js/main.js"></script>
</body>
</html>