@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: "Acme", sans-serif;

}


:root {
    --second-color: #3b4a6b;
    --container-color: #01282f;
    --text-color: #001244;
    --bg-color: #fff;
    --text-alter-color: hsla(248, 67%, 5%, 0.6);
}

body {
    color: var(--text-color);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;

}

.container {
    max-width: 1060px;
    margin: auto;
    width: 100%;
}

header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    padding: 12px 20px;
    border-radius: 12px;
}

.logo {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--text-alter-color);
}

.logo span {
    color: var(--second-color);
}

.nav-right {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.admin-btn .bx {
    color: var(--text-color);
    font-size: 20px;
}

.write-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--bg-color);
    background: var(--second-color);
    padding: 7px 17px;
    font-size: 0.96rem;
    border-radius: 8px;
}

.home {
    width: 100%;
    min-height: 440px;
    background: var(--second-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-content h2{
    font-size: 2.5rem;
    color: var(--bg-color);
    text-align: center;
}

.search-box {
    background: var(--bg-color);
    border-radius: 10px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 1.5rem;
}

.search-box .bx{
    font-size: 20px;
    color: var(--text-color);
}

.search-box input{
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size:  0.9rem;
    padding: 10px 0;
}

/* Posts */

.posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 1.5rem;
}

.post{
    border: 1px solid #f1f1f1;
    background: var(--bg-color);
    padding: 15px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post:hover {
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    transition: box-shadow 0.4s;
}

.post-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.post-category {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
    margin-top: 0.5rem;
}

.post-title {
    font-size: 1.17rem;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-desc {
    font-size: 0.84rem;
    line-height: 1.4rem;
    color: var(--text-alter-color);
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}